.list-page{
  & >:first-child{
    margin-top: 20px;
    &.filters{
      padding-left: 20px;

    }
  }
  .operation{
    padding-left: 20px;
  }
  .list{
    padding-left: 20px;
    margin-top: 10px;
  }
}